 body{
    font-family: 'Times New Roman', Times, serif;
 }
 h1{
 background-color: aquamarine;
 text-align: center;
}

.gen-container{
    display: flex;
}
.nav-bar{
 width: 15%;
border-right: 3px solid green;
padding: 10px;
}
.content{
 width: 50%;
 margin-left: 3px;
}
.aside{
width: 20%;
border-color: darkgreen;
border-style: dashed;
}
.footer{
    text-align: center;
}

